ul {
    list-style-type: none;
    padding: 0;
}
h1 {
    text-align: center;
    color: #444
}
button {
    cursor: pointer;
}
.wrap {
    padding: 1rem;
    border-radius: 32px;
    border: 1px solid #d7d7d7;
    max-width: 30rem;
    height: 40rem;
    overflow: hidden;
    margin: 7rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.input-box {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 2.5rem 0 1rem;
    position: relative;
}
.input-box input {
    width: 90%;
    padding: 10px 8px;
    z-index: 5;
    border: none;
    background: none;
    border-bottom: 1px solid #aaaaaa;
}
.input-box input::placeholder { 
    color: #aaaaaa; 
}
.input-box input:focus { 
    outline: none; 
}
.input-box span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
}  
.input-box label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 16px;
    bottom: 8px;
    transition: all .2s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: 500;
}  
.input-box input:focus ~ span, 
.input-box input:valid ~ span {
    width: calc(100% - 48px);
}
#add-btn {
    padding: 10px 16px;
    border: none;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: all .2s;
}
#add-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#task-board {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tab-list {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
}
.tab-list li {
    padding: 8px 26px;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    cursor: pointer;
    transition: all .2s;
}
.tab-list li:first-child {
    border-left: 1px solid #cfcfcf;
}
.tab-list li:hover,
.tab-list li.active {
    background-color: #333;
    color: #fff;
    border-radius: 8px 8px 0 0;
}
#task-board .task {
    display: flex;
    justify-content: space-between;
    position: relative;
}
#task-board .task:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #f1f1f1;
    bottom: 0px;
    left: 0;
}

#task-board .task .task-done {
    text-decoration: line-through;
}
.btn-box {
    display: flex;
    gap: 8px;
}
.btn-box button {
    height: 100%;
    border: none;
    width: 3rem;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}
.btn-box button :active {
    position: relative;
    top: 2px;
}
.btn-box button.ico-undo:hover {
    background-color: rgb(102, 102, 102, 0.3);
}
.btn-box button.ico-ok:hover {
    background-color: rgb(0, 4, 255, 0.3);
}
.btn-box button.ico-del:hover {
    background-color: rgb(255, 0, 0, 0.3);
}
.ico-undo span {
    color: #666
}
.ico-ok span {
    color: #0004ff;
}
.ico-del span {
    color: #ff0000;
}
.task-done {
    text-decoration: line-through;
    transition: 0.5s;
}